$green: #1c911a;

@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $green;
    color: black;
    @include margenes(10px,5px );
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $green;
    @include margenes(10px,5px );
    

}

.card-hotel{
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    

}

.btn-reverse{
    width: 100%;
    
    margin-bottom: 3px;
    left: 0;
    bottom: 0;
}

.row-botton{
    margin-bottom: 50px;
}

.colum-flex{
    flex-direction: column;
    align-content: center;

}

.footer-icono{
    padding-right: 10px;

}

.img-fluid{
    padding: 20px 0 20px 0;
}

.colorfonticon{
    color: white;
}
